[gd_resource type="Resource" script_class="EventPointData" load_steps=2 format=3]

[ext_resource path="res://scripts/data/event_point_data.gd" type="Script" id="1"]

[resource]
script = ExtResource("1")
event_id = "LXX_EXX"
event_type = "TRIPWIRE"
event_group = "MAIN"
activation_phase = ""
activation_flag = ""
block_ninja = true
ninja_reaction = "TRIPWIRE_REACTION"
interaction_action = "BITE"
interaction_time = 0.8
interaction_radius = 42.0
success_flags = []
success_effects = []
consume_carry_item = ""
failure_code = "FAIL_TOO_LATE"
high_risk = false
critical = true
