[gd_resource type="Resource" script_class="LevelData" load_steps=2 format=3]

[ext_resource path="res://scripts/data/level_data.gd" type="Script" id="1"]

[resource]
script = ExtResource("1")
level_id = "LXX"
title = "关卡名"
chapter_id = "CHAPTER_X"
scene_path = "res://scenes/levels/LXX_name.tscn"
route_path = "res://data/routes/LXX_route.tres"
events = []
shortcuts = []
score_rule = "res://data/score/LXX_score.tres"
variant_id = "A"
next_scene_path = "res://scenes/levels/LXX_next.tscn"
