[gd_resource type="Resource" script_class="ShortcutData" load_steps=2 format=3]

[ext_resource path="res://scripts/data/shortcut_data.gd" type="Script" id="1"]

[resource]
script = ExtResource("1")
shortcut_id = "LXX_SHORTCUT_A"
entry_position = Vector2(220, 400)
exit_position = Vector2(520, 400)
time_saved_target = 2.0
requires_cat_only = true
requires_flag = ""
