[gd_resource type="Resource" script_class="SettingsData" load_steps=2 format=3]

[ext_resource type="Script" path="res://scripts/settings/settings_data.gd" id="1_settings_data"]

[resource]
script = ExtResource("1_settings_data")
master_volume = 1.0
music_volume = 0.8
sfx_volume = 1.0
voice_volume = 1.0
ui_volume = 1.0
ambient_volume = 0.8
mute_all = false
subtitles_enabled = true
reduce_flashing = false
reduce_screen_shake = false
large_ui = false
high_contrast_ui = false
fullscreen = false
vsync = true
resolution_scale = 1.0
show_fps = false
